In [ ]:
import pandas as pd

# 데이터 로드 함수
def load_data(file_path: str):
    """JSON 파일을 읽어 pandas DataFrame으로 반환"""
    return pd.read_json(file_path)
df = load_data("trademark_sample.json")
df

,productName,productNameEng,applicationNumber,applicationDate,registerStatus,publicationNumber,publicationDate,registrationNumber,registrationDate,registrationPubNumber,registrationPubDate,internationalRegDate,internationalRegNumbers,priorityClaimNumList,priorityClaimDateList,asignProductMainCodeList,asignProductSubCodeList,viennaCodeList
0,프레스카,FRESCA,4019950043843,19951117,등록,4.019970e+12,19970129.0,[4003600590000],[19970417],NaN,NaN,NaN,NaN,None,None,[30],"[G0301, G0303, G0302]",None
1,간호사 타이쿤,None,4520070002566,20070629,실효,4.520080e+12,20080131.0,[4500231950000],[20080509],NaN,NaN,NaN,NaN,None,None,"[41, 09]","[S121002, G390802]",None
2,제이케,JK,4019630000130,19630214,실효,4.019630e+12,19630308.0,[4000076480000],[None],NaN,NaN,NaN,NaN,None,None,[038],[G3817],None
3,None,Andy warhol,4020060063919,20061218,등록,4.020070e+12,20070118.0,[4007048890000],[20070403],NaN,NaN,NaN,NaN,None,None,[22],[G2504],"[260111, 260410, 020101]"
4,None,BIOEYES,4120030008696,20030423,실효,4.120040e+12,20040614.0,[4101049820000],[20040827],NaN,NaN,NaN,NaN,None,None,[37],"[S050134, S050111]",[270915]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,직지,JIKJI,4120040025114,20041120,등록,4.120050e+12,20050929.0,[4101244810000],[20051206],NaN,NaN,NaN,NaN,None,None,[41],"[S120905, S1202, S120902, S1216, S120999, S110...","[260424, 260418]"
496,삼강탈렌트,None,4020080019033,20080418,실효,4.020080e+12,20081125.0,[4007823110000],[20090306],NaN,NaN,NaN,NaN,None,None,[30],"[G0302, G0303, G0301]",None
497,None,INDOLA,5020060006873,20060515,등록,NaN,NaN,[4001230450000],[19860124],NaN,NaN,NaN,NaN,None,None,[03],"[G1201, G1301]",None
498,활활 불 닭발,None,4120040027007,20041214,실효,4.120050e+12,20051213.0,None,None,NaN,NaN,NaN,NaN,None,None,[43],"[G0301, G0502, S120602]","[030703, 260415, 011505]"
499,None,LOEWE,4019970002712,19970122,등록,4.019980e+12,19980331.0,[4004115590000],[19980722],NaN,NaN,NaN,NaN,None,None,[03],"[G1201, S128302, S120907]",None

In [5]:
df['registerStatus'].unique()

array(['등록', '실효', '거절', '출원'], dtype=object)